.container{
  max-width: 700px;
  scroll-behavior: smooth;
}

#menu{
  text-align: center;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

#menu h6{
  margin-bottom: 0px;
}

#menu div:hover{
  color: #555;
  cursor: pointer;
  background-color: #F6F6F6;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
}

#menu a{
  text-decoration: none;
  color: #555;
}

input{
  margin-left: 10px;
  margin-right: 10px;
}

#title{
  margin-top: 50px;
}

.border{
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 30px;
}

.form{
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  padding: 20px;
}

.alert{
  display: none;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  padding: 20px;
}

label{
  display: inline;
  cursor: pointer;
}

.options{
  background: #F6F6F6;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  padding-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 550px) {
  .options{
    background: #F6F6F6;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}

#more{
  display: inline-block;
  padding: 0 30px;
  margin-left: 10px;
  color: #555;
  text-align: center;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  width: 40px;
}

#less{
  display: none;
  padding: 0 30px;
  margin-left: 10px;
  color: #555;
  text-align: center;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  width: 40px;
}

#more-options{
  display: none;
}

#preview-container{
  display: none;
}

#reference-container{
  display: none;
}

#frame{
  display: block;
}

pre > code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre-line;
}
