.uploadForm{
  display: inline-block;
  text-align: center;
}

.container{
  padding: 100px;
}

input{
  margin-left: 10px;
  margin-right: 10px;
}

#preview{
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  margin: -20px;
  padding: 20px;
}
