<style>
/* --------------------------------------------------------------
 Hartija Css Print  Framework
   * Version:   1.0
-------------------------------------------------------------- */

body {
/*width:100% !important;*/
/*width: 12in;*/
/*position: relative;
left: -.25in;*/
margin:0 !important;
padding:0 !important;
line-height: 1.45;
font-family: Garamond,"Times New Roman", serif;
color: #000;
background: none;
background-color: #FFF;
font-size: 14pt; }

/* Headings */
h1,h2,h3,h4,h5,h6 { page-break-after:avoid; }
h1{font-size:18pt;}
h2{font-size:16pt;}
h3{font-size:14pt;}
h4,h5,h6{font-size:13pt;}


p, h2, h3 { orphans: 3; widows: 3; }

p {font-size: 12;}

code { font: 12pt Courier, monospace; }
blockquote { margin: 1.2em; padding: 1em;  font-size: 12pt; }
hr { background-color: #ccc; }

/* Images */
img {max-width: 450px !important; }
a img { border: none; }

/* Links */
a:link, a:visited { background: transparent; font-weight: 700; text-decoration: underline;color:#333; }
a:link[href^="http://"]:after, a[href^="http://"]:visited:after { content: " (" attr(href) ") "; font-size: 90%; }

abbr[title]:after { content: " (" attr(title) ")"; }

/* Don't show linked images  */
/*a[href^="http://"] {color:#000; }*/
/*a[href$=".jpg"]:after, a[href$=".jpeg"]:after, a[href$=".gif"]:after, a[href$=".png"]:after { content: " (" attr(href) ") "; display:none; }*/

/* Don't show links that are fragment identifiers, or use the `javascript:` pseudo protocol .. taken from html5boilerplate */
a[href^="#"]:after, a[href^="javascript:"]:after {content: "";}

/* Table */
table { margin: 1px; text-align:left; }
th { border-bottom: 1px solid #333;  font-weight: bold; }
td { border-bottom: 1px solid #333; }
th,td { padding: 4px 10px 4px 0; }
tfoot { font-style: italic; }
caption { background: #fff; margin-bottom:2em; text-align:left; }
thead {display: table-header-group;}
img,tr {page-break-inside: avoid;}

/* Hide various parts from the site
#header, #footer, #navigation, #rightSideBar, #leftSideBar
{display:none;}
*/
.header, .menu, .rss, .rss:hover, a.rss{
  display:none;
}

footer{
  display: none;
}

#search, #menu, #archive{
  display: none;
}

</style>
